.separador {
    padding: 25PX;
    text-align: center;
}
.main-container {
    padding: 0px 10px;
}
.articulo{
    width: 24.70%; /*si le pongo 25% NO FUNCIONA! socorro*/
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.articulo img{
    width: 100%;
    margin: 20px 0px;
}
h5{
    font-weight: 500;
    margin-bottom: 15px;
}
.articulo a{
    background-color: rgb(69, 67, 67);
    color: white;
    padding: 5px;
    text-decoration: none;
}

.navegador{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}
.navegador a{
    margin-left: 10px;
    background-color:  rgb(69, 67, 67);
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
    padding: 8px 10px;
    border-radius: 100%;
    
}
