.separador {
    padding: 25PX;
    text-align: center;
}
.contenido {
    padding: 0px 10px;
}
.articulo{
    width: 24.70%; /*si le pongo 25% NO FUNCIONA! socorro*/
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.articulo img{
    width: 100%;
    margin: 20px 0px;
}
h5{
    font-weight: 500;
    margin-bottom: 15px;
}
.articulo a{
    background-color: rgb(69, 67, 67);
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 0.8rem;
}
.articulo a .carrito{
    width: 15px;
    fill: transparent;
    display:none;
}
.articulo:hover a .carrito{
    text-align: center;
    display:inline-block;
    fill: orange;
    margin-right: 3px;
}
.articulo:hover a{
    padding: 10px; 
    background-color: transparent;
    color: black;
    border-bottom: 3px solid orange;
    border-radius: 50%;
}
.navegador{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}
.navegador a{
    margin-left: 10px;
    background-color:  rgb(69, 67, 67);
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
    padding: 8px 10px;
    border-radius: 100%;
}

.navegador a:hover {
    background-color:rgba(255, 166, 0, 0.69);
    color: transparent; 
}